{{define "page"}}
<!DOCTYPE html>
<html>
<head>
<title>{{.Title}}</Tilte>
</head>
<body>
<h1>{{.Title}}</h1>
<p>{{.Content}}</p>
{{ if .Posts}}
{{range .Posts}}
{{template "post" .}}
{{end}}
{{end}}
</body>
</html>
{{end}}